<div class="row d-inline-block" style="padding: 0 10px;">
  <div class="col-md-12 title">
    <h3>ユーザー情報変更</h3>
  </div>
</div>

<div class="row">
  <div class="col-12" style="max-width: 992px; margin: auto;">
    <%= render "users/shared/error_messages", resource: @user %>
  </div>
</div>

<%= form_with model: @user, local: true do |f| %>
  <div class="row" style="max-width: 992px; margin: 15px auto;">
    <div class="col-md-6">
      <label>
        <div class="row">
          <div class="col-12" style="text-align: center;">
            <%= attachment_image_tag @user, :image, fallback: 'no_image.jpg', id: 'img_prev', style: "border-radius: 50%; width: 300px; heigth: 300px; margin: auto;" %>
          </div>
        </div>
        <div class="row">
          <div class="col-10 btn btn-primary btn-md" style="margin: auto; margin-top: 20px;">
            画像選択<%= f.attachment_field :image, style: 'display: none;', id: 'user_img' %>
          </div>
        </div>
      </label>
    </div>

    <div class="col-md-6 align-self-end">
      <div class="form-row">
        <div class="col-6">
          <%= f.text_field :last_name, placeholder: "姓", class: "form-control" %>
        </div>
        <div class="col-6">
          <%= f.text_field :first_name, placeholder: "名", class: "form-control" %>
        </div>
      </div>
      <div class="form-row">
        <div class="col-6">
          <%= f.text_field :read_last_name, placeholder: "セイ", class: "form-control" %>
        </div>
        <div class="col-6">
          <%= f.text_field :read_first_name, placeholder: "メイ", class: "form-control" %>
        </div>
      </div>
      <div class="form-row">
        <div class="col-12">
          <%= f.email_field :email, placeholder: "メールアドレス", class: "form-control" %>
        </div>
      </div>
      <div class="form-row">
        <div class="col-12">
          <%= f.text_area :introduction, placeholder: "自己紹介文", class: "form-control", id: "input-text", rows: "6" %>
          <p style="text-align: right;" id="counter">100文字まで</p>
        </div>
      </div>
      <div class="form-row">
        <div class="col-8">
          <%= f.submit '更新する', class: "btn btn-success", style: "width: 100%" %>
        </div>
        <div class="col-4">
          <%= link_to '退会', retire_user_path, class: "btn btn-danger", style: "width: 100%" %>
        </div>
      </div>
    </div>
  </div>
<% end %>


<script type="text/javascript">
  $(function() {
    function readURL(input) {
        if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
    $('#img_prev').attr('src', e.target.result);
        }
        reader.readAsDataURL(input.files[0]);
        }
    }
    $("#user_img").change(function(){
        readURL(this);
    });
  });

  $(function(){
  $("#input-text").on("keyup", function() {
    let countNum = String($(this).val().length);
    if(countNum>100){
      $("#counter").text(countNum + "/100").css("color", "red");
    }else {
      $("#counter").text(countNum + "/100").css("color", "");
    }
 });
});
</script>