<div class="row" style="padding: 20px 0 0 20px;">
  <div class="col-12">
    <h4 style="font-size: 35px;">Topページ</h4>
  </div>
  <div class="col-12" style="font-size: 20px;">
    <ul>
      <li>
        全ユーザー数
        <%= link_to admins_users_path do %>
          <%= @users.count %> 人
        <% end %>
      </li>
      <li>
        本日の新規ユーザー数
        <%= link_to admins_users_path(created_at: Time.zone.now.all_day) do %>
          <%= @users_today.count %> 人
        <% end %>
      </li>
      <li>
        全投稿件数
        <%= link_to admins_photos_path do %>
          <%= @photos.count %> 件
        <% end %>
      </li>
      <li>
        本日の投稿件数
        <%= link_to admins_photos_path(created_at: Time.zone.now.all_day) do %>
          <%= @photos_today.count %>
        <% end %>
      </li>
      <li>
        未対応お問い合わせ件数
        <%= link_to admins_contacts_path do %>
          <%= @contacts.count %> 件
        <% end %>
      </li>
    </ul>
  </div>
</div>