<div class="row d-inline-block" style="padding: 0 10px;">
    <div class="col-md-12 title">
        <h3>投稿詳細</h3>
    </div>
</div>

<div class="row">
    <div class="col-12" style="max-width: 992px; margin: auto;">
        <%= render "users/shared/error_messages", resource: @comment %>
    </div>
</div>

<div class="row" style="max-width: 992px; margin: 15px auto;">
    <div class="col-md-6">
        <div class="show_box" style="font-size: 14px;">
            <%= link_to user_path(@user), style: "color: black; text-decoration: none;" do %>
              <div class="row" style="width: 95%; border-bottom: solid 1px gray; margin: auto; padding: 10px 0;">
                  <div class="col-3" style="max-width: 70px;">
                      <%= attachment_image_tag @user, :image, :fill, 100, 100, fallback: 'no_image.jpg', size: '100x100', style: "border-radius 50%;" %>
                  </div>
                  <div class="col-9 over-text" style="margin: auto 0;">
                      <%= "#{@user.last_name} #{@user.first_name}" %>
                  </div>
              </div>
            <% end %>
            <div class="row" style="margin: 15px auto;">
                <div class="col-12">
                    <%= link_to attachment_url(@photo, :image), :rel => "lightbox" do %>
                      <%= attachment_image_tag @photo, :image, class: "picture_stop", id: 'rspec_photo' %>
                    <% end %>
                </div>
            </div>
            <div class="row" style="margin: auto; font-size: 11px;">
                <div class="col-12">
                    <%= l @photo.created_at %>
                </div>
            </div>
            <div class="row" style="margin: auto; padding-top: 1px; padding-bottom: 20px">
                <div class="col-12">
                    <%= simple_format(@photo.word) %>
                </div>
            </div>
            <div class="row" style="margin: auto;">
                <div class="col">
                    <span>タグ <i class="far fa-hand-point-right"></i></span>
                      <% @photo.tag_list.each do |tag| %>
                        <%= link_to photos_path(tag_name: tag), class: "text-white btn btn-info btn-sm p-o m-1" do %>
                          <%= tag %>
                        <% end %>
                      <% end %>
                </div>
            </div>
            <div class="row" style="padding: 5px 0; border-top: solid 1px gray; margin:auto; width: 95%;">
                <div class="col-3" style="text-align: center;">
                    <div class="likes_counts_<%= @photo.id %>">
                        <%= render partial: 'users/likes/like_counts', locals: { photo: @photo } %>
                    </div>
                </div>
                <div class="col-3" style="text-align: center;">
                    <%= link_to photo_comments_path(@photo), style: "color: black;" do %>
                      <i class="far fa-comments">:<%= @photo.comments.count %></i>
                    <% end %>
                </div>
                <div class="col-3" style="text-align: center;">
                    <i class="far fa-eye">:<%= @photo.impressions_count %></i>
                </div>
                <div class="col-3" style="text-align: center;">
                    <% if @user == current_user %>
                      <%= link_to photo_path(@photo), style: "color: gray;", method: :delete, "data-confirm" => "投稿を削除します。よろしいですか？", id: "rspec_delete" do %>
                        <i class="far fa-trash-alt"></i>
                      <% end %>
                    <% else %>
                      <div class="likes_buttons_<%= @photo.id %>">
                          <%= render partial: 'users/likes/like', locals: { photo: @photo } %>
                      </div>
                    <% end %>
                </div>
            </div>
            <% if @user == current_user %>
              <%= form_with model: @photo, local: true do |f| %>
                <%= f.hidden_field :user_id, :value => @photo.user_id %>
                <%= f.hidden_field :image, :value => @photo.image %>
                <%= f.hidden_field :word, :value => @photo.word %>
                <div class="row" style="width: 90%; margin: 15px auto;">
                    <div class="col-8">
                        <%= f.select :range, [["全ユーザー", "全ユーザー"], ["フォロワーのみ", "フォロワーのみ"], ["自分のみ", "自分のみ"]], {}, {class: "form-control", style: "width: 100%;"} %>
                    </div>
                    <div class="col-4">
                        <%= f.submit '更新', class: "btn btn-primary", style: "width: 100%" %>
                    </div>
                </div>
              <% end %>
            <% end %>
        </div>
    </div>

    <div class="col-md-6 align-self-end">
        <%= form_with(model: [@photo, @comment], local: true) do |f| %>
          <div class="form-row d-flex align-items-end">
              <div class="col-12">
                  <%= f.text_area :comment, placeholder: "コメント", class: "form-control", id: "input-text", rows: "4" %>
                  <p style="text-align: right; padding-bottom: 0;" id="counter">140文字まで</p>
              </div>
          </div>
          <div class="form-row" style="margin-top: 0;">
              <div class="col-12">
                  <%= f.submit 'コメントする', class: "btn btn-primary", style: "width: 100%;" %>
              </div>
          </div>
        <% end %>
    </div>
</div>

<script type="text/javascript">
  $(function(){
  $("#input-text").on("keyup", function() {
    let countNum = String($(this).val().length);
    if(countNum>50){
      $("#counter").text(countNum + "/50").css("color", "red");
    }else {
      $("#counter").text(countNum + "/50").css("color", "");
    }
 });
});
</script>