<div class="row" style="margin: 20px 0;">
  <div class="col-12" style="text-align: center;">
    <h1 class="gamerssns" style="color: black; font-size: 70px;">Gamers Sns</h1>
    <h3>お問い合わせ</h3>
  </div>
</div>

<div class="row">
  <div class="col-12" style="max-width: 510px; margin: auto;">
    <%= render "users/shared/error_messages", resource: @contact %>
  </div>
</div>


<%= form_with model: @contact, local: true do |f| %>
  <div class="form-row">
    <div class="col-12">
      <%= f.text_field :title, autofocus: true, placeholder: "件名", class: "form-control", style: "max-width: 510px; margin: auto;" %>
    </div>
  </div>
  <div class="form-row">
    <div class="col-12">
      <%= f.text_area :content, placeholder: "本文", class: "form-control", style: "max-width: 510px; margin: auto;", id: "input-text", rows: "8" %>
      <p style="margin: auto; text-align: right; max-width: 510px;" id="counter">150文字まで</p>
    </div>
  </div>
  <%= f.hidden_field :user_id, :value => current_user.id %>
    <div class="form-row" style="margin-bottom: 30px;">
      <div class="col-12">
        <%= f.submit "送信", class: "btn btn-success btn-block", style: "max-width: 510px; margin: auto;" %>
      </div>
    </div>
  <% end %>
  
  
<script type="text/javascript">

  $(function(){
  $("#input-text").on("keyup", function() {
    let countNum = String($(this).val().length);
    if(countNum>150){
      $("#counter").text(countNum + "/150").css("color", "red");
    }else {
      $("#counter").text(countNum + "/150").css("color", "");
    }
 });
});
</script>