<div class="row d-inline-block" style="padding: 0 10px;">
  <div class="col-md-12 title">
    <h3>お問い合わせ一覧</h3>
  </div>
</div>

<table class="table table-sm" style="max-width: 768px; margin: auto;">
  <thead>
    <tr class="table-success">
      <th style="width:10%;"></th>
      <th style="width: 10%;">日付</th>
      <th style="width: 25%;">氏名</th>
      <th style="width: 30%;">件名</th>
      <th style="width: 15%;"></th>
    </tr>
  </thead>
  <% @contacts.each do |contact| %>
    <tbody>
      <tr>
        <td style="text-align: center;">
          <% if contact.status == "対応済" %>
            <i class="fas fa-check" style="color: green;"></i>
          <% end %>
        </td>
        <td><%= l contact.created_at, format: :short %></td>
        <td class="over-text" style="max-width: 0;">
          <%= link_to admins_user_path(contact.user), style: "color: black; text-decoration: none;" do %>
            <%= "#{contact.user.last_name} #{contact.user.first_name}" %>
          <% end %>
        </td>
        <td class="over-text" style="max-width: 0;">
          <%= link_to admins_contact_path(contact) do %>
            <%= contact.title %>
          <% end %>
        </td>
        <td><%= link_to "削除", admins_contact_path(contact), class: "btn btn-sm btn-danger", method: :delete, "data-confirm" => "お問い合わせを削除します。よろしいですか？" %></td>
      </tr>
    </tbody>
  <% end %>
</table>

<%= paginate @contacts %>